.analyticsOverview-Card {
  padding: 20px;
  border: 1px solid var(--gray);
  background-color: var(--white);
  word-wrap: break-word;
  border-radius: 4px;
  background-color: var(--white);
  margin-bottom: 24px;
  position: relative;
}
.mantine-1u25t5n .__mantine-ref-tabsList {
  flex-direction: column;
  align-items: flex-start;
}
.mantine-pbt5fb.__mantine-ref-tabActive {
  border-bottom-color: var(--bs-primary);
}
.mantine-Tabs-tabControl {
  padding: 10px 20px;
  width: 100%;
  display: flex;
  height: 90.89px;
}
.analytics-Tab p {
  color: var(--bs-gray-300);
  font-weight: 500;
  margin: 10px 0;
}
.analytics-Tab h1 {
  color: var(--bs-gray-dark);
  font-size: 21.36px;
  margin: 10px 0;
  font-weight: 500;
}
.ellipseCollapse {
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  width: 160px;
  border-radius: 4px;
  position: absolute;
  inset: 0px 0px auto auto;
  transform: translate3d(-10px, 42px, 0px);
  padding: 4px 0;
}
.ellipseItem {
  display: flex;
  align-items: center;
  padding: 6px 20px;
  color: var(--bs-gray-400);
  gap: 10px;
}
.ellipseItem:hover {
  background-color: var(--bg-gray-100);
  cursor: pointer;
}

@media (min-width: 768px) {
  .mantine-1u25t5n .__mantine-ref-tabsList {
    flex-direction: row;
  }
  .mantine-Tabs-tabControl {
    width: initial;
  }
}
