.menubar {
  display: none;
}
@media (min-width: 1024px) {
  .menubar {
    display: block;
    width: 75px;
    background: var(--white);
    border-right: 1px solid var(--gray);
    bottom: 0;
    position: fixed;
    transition: all 0.1s ease-out;
    top: 70px;
  }
  .menuList {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 15px 25px;
    cursor: pointer;
    color: var(--bs-gray-400);
    font-size: 15.2px;
  }
  .menuList:hover p,
  .menuList:hover svg,
  .menuList-Active {
    color: var(--bs-primary);
    fill: var(--svg-active-fill);
  }
  .menuList svg {
    width: 20px;
    height: 20px;
    fill: var(--svg-fill);
  }
}

@media (min-width: 1280px) {
  .menubar {
    justify-content: flex-start;
    width: 250px;
    padding: 20px 0;
    left: 0;
  }
  .menuList {
    justify-content: flex-start;
  }
}
