.newUsersCard {
  padding: 20px;
  border: 1px solid var(--gray);
  background-color: var(--white);
  word-wrap: break-word;
  border-radius: 4px;
  background-color: var(--white);
  margin-bottom: 24px;
}
.statsWidget {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.statsWidget h5 {
  color: var(--bs-gray-300);
  font-weight: 500;
}
.statsWidget h3 {
  color: var(--bs-gray-dark);
  margin: 6px 0;
  font-size: 21.67px;
  font-weight: 500;
}
.statsWidgetBottom {
  margin-bottom: 100px;
}
.userCollapse {
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  width: 160px;
  border-radius: 4px;
  position: absolute;
  inset: 0px 0px auto auto;
  transform: translate3d(-35px, 885px, 0px);
}
.userItem {
  display: flex;
  align-items: center;
  padding: 6px 20px;
  color: var(--bs-gray-400);
  gap: 10px;
}
.userItem:hover {
  background-color: var(--bg-gray-100);
  cursor: pointer;
}
@media (min-width: 768px) {
  .userCollapse {
    transform: translate3d(-35px, 705px, 0px);
  }
}
