.statsCard {
  padding: 20px;
  border: 1px solid var(--gray);
  background-color: var(--white);
  word-wrap: break-word;
  border-radius: 4px;
  margin-bottom: 24px;
}
.statsCharts {
  min-height: 10px !important;
}
.statsGrid {
  margin-bottom: 4px;
  padding: 0 8px;
}
.statsGridCol {
  padding: 0;
  font-weight: 700;
}
@media (min-width: 768px) {
  .statsGrid {
    padding: 0;
  }
  .statsGridCol {
    padding: 0 9px;
  }
}
