.topCard {
  padding: 20px;
  border: 1px solid var(--gray);
  background-color: var(--white);
  word-wrap: break-word;
  border-radius: 4px;
  background-color: var(--white);
  margin-bottom: 24px;
}
.performerItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #ebeef5 !important;
  margin-top: 6px;
  padding-top: 12px;
  margin-bottom: 15px;
}
.topCard img {
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: 4px;
}
.topCard h5 {
  color: var(--bs-gray-dark);
  font-size: 15px;
  font-weight: 500;
}
.topCard p {
  color: var(--bs-gray-300);
  font-weight: 400;
}
.topCard svg {
  cursor: pointer;
}
.performerCollapse {
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  width: 140px;
  border-radius: 4px;
}
