* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
body {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 14px;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 5px;
}

:root {
  --white: #ffffff;
  --red: red;
  --gray: #e2e7f1;
  --gray-100: #f1f3fa;
  --gray-200: #ced4da;
  --black: #000000;
  --danger: #ff5c75;
  --bg-gray-100: #f6f6f7;
  --bg-gray-200: #c0c0c0;
  --bs-gray-300: #6c757d;
  --bs-gray-400: #4b4b5a;
  --bs-gray-500: #ebeef5;
  --bs-gray-600: #212529;
  --bs-gray-700: #97a4af;
  --bs-gray-800: #bdc5d1;
  --svg-fill: rgba(75, 75, 90, 0.12);
  --svg-active-fill: rgba(83, 105, 248, 0.12);
  --bs-gray-dark: #343a40;
  --box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
  --border-bottom: 1px solid #ebeef5;
  --border-top: 1px solid #e2e7f1;
  --bs-primary: #5369f8;
  --bs-primary-hover: #0a29f5;
  --bg-body: #f3f4f7;
  --bg-chart-100: rgba(255, 190, 11, 0.18);
  --bg-chart-200: rgba(67, 211, 158, 0.18);
  --bg-chart-300: rgba(255, 92, 117, 0.18);
  --bg-400: #4254c6;
  --bg-500: #f8f9fa;
  --bg-600: #424e5a;
  --success: #43d39e;
  --chart-100: #727cf5;
  --chart-200: #f77e53;
  --chart-300: #43d39e;
  --chart-400: #ffbe0b;
  --chart-500: #d0def2;
}
.Appshell {
  background-color: var(--bg-body);
  width: 100%;
}
.main-container {
  width: 100%;
  position: relative;
  top: 70px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}
.mantine-kv8twf {
  height: 100vh;
  padding: 0 !important;
  flex: 1 auto;
  height: 100%;
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--bg-body);
}
.text-success {
  color: var(--success);
}
.text-danger {
  color: var(--danger);
}
.text-primary {
  color: var(--bs-primary);
}
.text-warning {
  color: var(--chart-400);
}
.bg-success {
  background-color: var(--success) !important;
}
.bg-danger {
  background-color: var(--danger) !important;
}
.bg-away {
  background-color: var(--gray-200) !important;
}
.bg-primary {
  background-color: var(--bs-primary) !important;
}
.bg-warning {
  background-color: var(--chart-400) !important;
}
.bg-light {
  background-color: var(--chart-500) !important;
}
.border-bottom {
  border-bottom: 1px solid #e7eaf3 !important;
}
.rounded-circle {
  border-radius: 50% !important;
}
.list-inline {
  padding-left: 0;
  list-style: none;
}
.list-inline-item {
  display: inline-block;
}
.list-inline-item:not(:last-child) {
  margin-right: 0.5rem;
}
.text-body {
  color: #4a4f54 !important;
}
@media (min-width: 1024px) {
  .mantine-kv8twf {
    margin-left: 75px;
    width: calc(100% - 75px);
  }
}
@media (min-width: 1280px) {
  .mantine-kv8twf {
    margin-left: 250px;
    width: calc(100% - 250px);
  }
}
