* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
body {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 14px;
}

:root {
  --white: #ffffff;
  --red: red;
  --gray: #e2e7f1;
  --black: #000000;
  --danger: #ff5c75;
  --bg-gray-100: #f6f6f7;
  --bg-gray-200: #c0c0c0;
  --bs-gray-300: #6c757d;
  --bs-gray-400: #4b4b5a;
  --bs-gray-500: #ebeef5;
  --svg-fill: rgba(75, 75, 90, 0.12);
  --svg-active-fill: rgba(83, 105, 248, 0.12);
  --bs-gray-dark: #343a40;
  --box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
  --border-bottom: 1px solid #ebeef5;
  --border-top: 1px solid #e2e7f1;
  --bs-primary: #5369f8;
  --bs-primary-hover: #0a29f5;
  --bg-body: #f3f4f7;
  --bg-chart-100: rgba(255, 190, 11, 0.18);
  --bg-chart-200: rgba(67, 211, 158, 0.18);
  --bg-chart-300: rgba(255, 92, 117, 0.18);
  --success: #43d39e;
  --chart-100: #727cf5;
  --chart-200: #f77e53;
  --chart-300: #43d39e;
  --chart-400: #ffbe0b;
}

.Appshell {
  background-color: var(--bg-body);
  width: 100%;
}
.main-container {
  width: 100%;
  position: relative;
  top: 70px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}
.mantine-kv8twf {
  height: 100vh;
  padding: 0 !important;
  flex: 1 auto;
  height: 100%;
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--bg-body);
}
.text-success {
  color: var(--success);
}
.text-danger {
  color: var(--danger);
}
.text-primary {
  color: var(--bs-primary);
}
.text-warning {
  color: var(--chart-400);
}
@media (min-width: 1024px) {
  .mantine-kv8twf {
    margin-left: 75px;
    width: calc(100% - 75px);
  }
}
@media (min-width: 1280px) {
  .mantine-kv8twf {
    margin-left: 250px;
    width: calc(100% - 250px);
  }
}
